/* * serve para selecionar todos os elementos*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    /*O border box tira o padding do total de tamanho*/
    box-sizing:  border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.logo{
    width: 56px;
    height: 56px;
    float: left;
    background-image: url(../img/logo-mobile.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
}
.btn-menu{
    transition: opacity 0.35s, color 0.35s;
    width: 56px;
    height: 56px;
    float: right;
    text-align:  center;
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
    border-radius: 56px;
    background-image: linear-gradient(to right, #ce2e3c, #da6709);
    opacity: .7;
}
.btn-menu:hover{
    transition: all 0.35s;
    opacity: 1;
    color: #fff;
}
.btn-close{
    opacity: .7;
    font-size: 3em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 3% 5% 0 0;
}
.btn-close:hover{
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s;
    opacity: 1;
}

.menu{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0, 0.9);
    top: 0;
    left: 0;
}
.anim-mostra-menu{
    opacity: 1;
    display: block;
    animation-name: mostra-menu;
    animation-duration: 0.7s;
}
.anim-esconde-menu{
    opacity: 0;
    display: block;
    animation-name: esconde-menu;
    animation-duration: 0.7s;
}
@keyframes esconde-menu{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
@keyframes mostra-menu{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}
.menu li{
    padding: 2%;
}
.menu li a{
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
    border: 1px solid transparent ;
    border-radius: 10px;
}
.menu li a:hover{
    transition: border-color 0.25s ease-in-out;
    border-color: #da6709;
}
.banner{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    width: 100%;
}
.title h2{
    font-size: 2.5em;
    color:#fff;
    font-weight: 700;
}
.title h3{
    font-size: 1.5em;
    color: #fff;
}
.buttons{
    width: 100%;
    margin-top: 3%;
}
.buttons i{
    float: right;
}
.btn-cadastrar{
    opacity: 0.7;
    float: left;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #130400;
}
.btn-cadastrar:hover{
    transition: ease-in .35s;
    opacity: 1;
}
.btn-sobre{
    margin-top: 3%;
    opacity: 0.7;
    float: left;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    background-color:  #130400;
    color:#fff;
}
.btn-sobre:hover{
    transition: ease-in .35s;
    opacity: 1;
}
.servicos{
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.servico{
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089) ;
}
.servico img{
    border-radius: 7px 7px 0 0;
}
.inner{
    padding: 3%;
}
.inner a{
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}
.inner h4{
    margin-top: 2.5%;
    font-size: 1.2em;
    color: #130400;
}
.inner p{
    margin-top: 6%;
    color: #130400;
    line-height: 1.45em;
}